.main_component_header {
    text-align: center;
    height: 105px;
    font-family: 'Raleway', sans-serif;
}
.custom-whitespace{
   height: 55px;
}

.custom-header ul  {
    gap: 55px;
}

.custom-header ul li {
    border-bottom: 1px solid rgba(41, 137, 158, 0.397);  
}