<div>
    <div class="container">
        <header class="d-flex justify-content-end py-3 custom-header">
          <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="" class="nav-link border-bottom">Home</a></li>
            <li class="nav-item item-1"><a routerLink="orders" class="nav-link border-bottom">Orders</a></li>
          </ul>
        </header>
      </div>
    <div class="container-fluid main_component_header d-flex justify-content-center align-items-center">
        <h1>
            Propeller Junior Frontend Assignment 
        </h1>
    </div>
    <div class="container-fluid custom-whitespace">
    </div>
    <router-outlet>

    </router-outlet>
</div>