<div class="custom-filter d-flex align-items-center">
    <div class="custom-text"><h5>Sort by: </h5></div>
    <div>
        <select class="form-select" [(ngModel)]="selectedSortingOption" (ngModelChange)="sortingFilterChange($event)">
            <option value="Default">Default</option>
            <option value="NameASC">Name: ascending</option>
            <option value="NameDESC">Name: descending</option>
            <option value="TimeASC">Time created ascending</option>
            <option value="TimeDESC">Time created descending</option>
        </select>
    </div>
    <div class="input-group custom-search">
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchResult">
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" (click)="searchFilter()">filter</button>
    </div>

</div>