.custom-filter {
    border: 1px solid rgba(128, 128, 128, 0.433);
    height: 55px;
}

.custom-text h5 {
    font-family: 'Edu TAS Beginner', cursive;
    margin-left: 45px;
}
.custom-text {
    padding-top: 6px;
    width: 150px !important;
}
.dropdown {
    width: 200px !important;
}
.custom-search {
    margin-left: 55px;
    margin-right: 15px;
    width: 350px;
}