.custom-whitespace {
   width: 100%;
   height: 75px;
}

h1{
    font-family: 'EB Garamond', serif;
}

h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.custom-quantity {
    width: 105px;
}
.custom-confirm {
    width: 150px;
}