<div class="d-block">
   <div class="container-fluid">
      <app-filter-board>
          
      </app-filter-board>
  </div>
  <div *ngIf="!filteringState; else filteredListings">
      <div class="products-listings" *ngIf="filteredProducts.length === 0; else normalProducts">
         <product-item *ngFor="let item of products" [product]="item">
         </product-item>
      </div>
      <ng-template #normalProducts>
         <div style="width: 100%; padding: 20px;">
            <div>
               <p>Search results: {{ filteredProducts.length }} </p>
            </div>
            <product-item *ngFor="let item of filteredProducts" [product]="item">
            </product-item>
         </div>
      </ng-template>
   </div>
   <ng-template #filteredListings >
      <div style="width: 100%; padding: 20px;">
         <div>
            <p style="margin-left: 40px;">Search results: {{ filteredProducts.length }} </p>
         </div>
         <product-item *ngFor="let item of filteredProducts" [product]="item"> 
         </product-item>
      </div>
   </ng-template>
</div>